<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.Service.Mapper.courseIndexRelationMapper">
     <insert id="insertCourse_Index" parameterType="courseIndexRelation">
         insert into course_index values(
                                         #{course_num},
                                         #{index_num},
                                         #{weight}
                                        )
     </insert>
</mapper>