<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.Service.Mapper.indexMapper">
    <insert id="InsertExcel" parameterType="index">
        insert into index_point(num,content) values (
                                                     #{num},
                                                     #{content}
                                                    )
    </insert>
</mapper>