<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>毕业达成度查询管理系统-学生+</title>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">毕业达成度查询管理系统</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
                    Student
                </a>
            </li>
            <li class="layui-nav-item"><a href="/load">Sign out</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed layui-this">
                    <a id="info_check" class="" href="javascript:;">个人信息</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a id="grade-select" class="" href="javascript:;">达成度查询</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 学生信息 -->
        <div id="stu_info" style="width: 800px;position: fixed;top: 150px;left: 300px;" align="center">
            <div>
                <div style="display: inline">
                    <label style="font-size: 18px;"><strong>学号:</strong></label>
                    <input style="border-radius: 5px;height: 30px;width: 250px;" type="text" th:value="${num}" disabled>
                </div>
                &nbsp;&nbsp;
                <div style="display: inline">
                    <label style="font-size: 18px;"><strong>姓名:</strong></label>
                    <input style="border-radius: 5px;height: 30px;width: 250px;" type="text" th:value="${name}" disabled>
                </div>
            </div>
            <div style="margin-top: 50px;">
                <div style="display: inline">
                    <label style="font-size: 18px;"><strong>年龄:</strong></label>
                    <input style="border-radius: 5px;height: 30px;width: 250px;" type="text" th:value="${age}" disabled>
                </div>
                &nbsp;&nbsp;
                <div style="display: inline">
                    <label style="font-size: 18px;"><strong>性别:</strong></label>
                    <input style="border-radius: 5px;height: 30px;width: 250px;" type="text" th:value="${sex}" disabled>
                </div>
            </div>
            <div style="margin-top: 50px">
                <div style="display: inline;position: absolute;left: 95px;">
                    <label style="font-size: 18px;"><strong>院系:</strong></label>
                    <input style="border-radius: 5px;height: 30px;width: 250px;" type="text" th:value="${department}" disabled>
                </div>
                &nbsp;&nbsp;
<!--                <div style="display: inline">-->
<!--                    <label style="font-size: 18px;"><strong>院系:</strong></label>-->
<!--                    <input style="border-radius: 5px;height: 30px;width: 250px;" type="text" value="信息科学与技术学院" disabled>-->
<!--                </div>-->
            </div>
<!--            <div style="margin-top: 50px">-->
<!--                <div style="display: inline">-->
<!--                    <label style="font-size: 18px;"><strong>身份证号:</strong></label>-->
<!--                    <input style="border-radius: 5px;height: 30px;width: 250px;" type="text" value="320282199912082573" disabled>-->
<!--                </div>-->
<!--                &nbsp;&nbsp;-->
<!--                <div style="display: inline">-->
<!--                    <label style="font-size: 18px;"><strong>学历:</strong></label>-->
<!--                    <input style="border-radius: 5px;height: 30px;width: 250px;" type="text" value="大学本科" disabled>-->
<!--                </div>-->
<!--            </div>-->
            <div style="margin-top: 20px">
                <label style="margin-left: -560px;font-size: 18px;">
                    <strong>备注:</strong>
                </label>
                <br/>
                <textarea style="margin-left: 100px;" cols="100" rows="10" placeholder="//none" disabled>
                </textarea>
            </div>
            <div style="position: absolute;top: 0px;left: 750px;">
                <img src="/img/stu_photo.jpg" style="width: 200px;height: 220px;">
            </div>
        </div>
        <!-- 成绩查询 -->
        <div id="grade" style="display: none">
            <table class="layui-hide" id="demo" lay-filter="test"></table>
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="detail">更多</a>
            </script>
        </div>
        <div id="grade1" style="display: none">
            <button class="layui-btn layui-btn-xs" id="re1" style="width: 70px;height: 30px;position: absolute;top: 393px;left: 450px;z-index: 10000;">
                return
            </button>
            <table class="layui-hide" id="demo1" lay-filter="test"></table>
            <script type="text/html" id="barDemo1">
                <a class="layui-btn layui-btn-xs" lay-event="detail">更多</a>
            </script>
        </div>
        <div id="grade2" style="display: none">
            <button class="layui-btn layui-btn-xs" id="re2" style="width: 70px;height: 30px;position: absolute;top: 393px;left: 450px;z-index: 10000;">
                return
            </button>
            <table class="layui-hide" id="demo2" lay-filter="test"></table>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <strong><em>Graduation achievement evaluation system</em></strong>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://www.layuicdn.com/layui/layui.js"></script>
<script src="/js/studentHome.js"></script>
<script th:inline="none">
    layui.config({
        version: '{{lay.version}}' //为了更新 js 缓存，可忽略
    });

    //加载模块（从layui 2.6 开始，第一个参数不传即代表加载所有内置模块）
    layui.use(function(){ //加载特定模块：layui.use(['layer', 'laydate', function(){
        //得到各种内置组件
        var layer = layui.layer //弹层
            ,table = layui.table //表格
            ,element = layui.element //元素操作
            ,dropdown = layui.dropdown //下拉菜单

        //监听Tab切换
        element.on('tab(demo)', function(data){
            layer.tips('切换了 '+ data.index +'：'+ this.innerHTML, this, {
                tips: 1
            });
        });

        //执行一个 table 实例
        table.render({
            elem: '#demo'
            ,height: 420
            ,url: 'graduateEvaluationInfo' //数据接口
            ,title: '用户表'
            ,page: true //开启分页
            ,toolbar: 'none' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'index', title: '#', width:40,align: "center"}
                ,{field: 'content', title: '毕业要求描述', width: 220, sort: true, totalRow: true,align: "center"}
                ,{field: 'eva_value', title: '评价值', width:100, sort: true,align: "center"}
                ,{fixed: 'right', title: '操作', width: 80, align:'center', toolbar: '#barDemo'}
            ]]
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'detail'){
                if($("#grade").css('display')!=='none'){
                    $("#grade1").show();
                    $("#grade").hide();
                    table.render({
                        elem: '#demo1'
                        ,height: 420
                        ,url: '/indexPointEvaluationValueInfo?content='+data.content //数据接口
                        ,title: '用户表'
                        ,page: true //开启分页
                        ,toolbar: 'none' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                        ,cols: [[ //表头
                            {type: 'checkbox', fixed: 'left'}
                            ,{field: 'index', title: '#', width:40,align: "center"}
                            ,{field: 'content', title: '指标点描述', width: 220, sort: true, totalRow: true,align: "center"}
                            ,{field: 'eva_value', title: '评价值', width:100, sort: true,align: "center"}
                            ,{fixed: 'right', title: "操作", width: 80, align:'center', toolbar: '#barDemo1'}
                        ]]
                    });
                }
                else if($("#grade1").css('display')!=='none'){
                     $("#grade1").hide();
                     $("#grade2").show();
                    table.render({
                        elem: '#demo2'
                        ,height: 420
                        ,url: '/getCourseIndexPointInfo?content='+data.content //数据接口
                        ,title: '用户表'
                        ,page: true //开启分页
                        ,toolbar: 'none' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                        ,cols: [[ //表头
                            {type: 'checkbox', fixed: 'left'}
                            ,{field: 'index', title: '#', width:40,align: "center"}
                            ,{field: 'name', title: '课程名称', width: 120, sort: true, totalRow: true,align: "center"}
                            ,{field: 'weight', title: '权重', width:100, sort: true,align: "center"}
                            ,{field: 'eva_value', title: '评价值', width:100, sort: true,align: "center"}
                        ]]
                    });
                }
            }
        });
    });
</script>
</body>
</html>